<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2016 JovalCM.com.  All rights reserved.
  This software is licensed under the LGPL 3.0 license available at http://www.gnu.org/licenses/lgpl.txt
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-common-5"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/oval-common-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/aix-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#aix-def"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/android-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#apache"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/apache-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#apple_ios"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/apple-ios-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#asa"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/asa-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#catos"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/catos-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#esx"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/esx-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#freebsd"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/freebsd-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#hpux"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/hpux-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#independent"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/independent-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#ios"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/ios-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#iosxe"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/iosxe-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#junos"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/junos-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#linux"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/linux-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#macos"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/macos-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#netconf"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/netconf-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/oval-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#pixos"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/pixos-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#sharepoint"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/sharepoint-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#solaris"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/solaris-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#unix"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/unix-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#windows"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/windows-definitions-schema.xsd"/>

      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#x-linux"
                  schemaLocation="../../scap-extensions/schemas/x-linux-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#x-net"
                  schemaLocation="../../scap-extensions/schemas/x-protocols-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#cmd"
                  schemaLocation="../../scap-extensions/schemas/x-shellcommand-definitions-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5#x-windows"
                  schemaLocation="../../scap-extensions/schemas/x-windows-definitions-schema.xsd"/>
</xsd:schema>
