<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2016 JovalCM.com.  All rights reserved.
  This software is licensed under the LGPL 3.0 license available at http://www.gnu.org/licenses/lgpl.txt
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-common-5"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/oval-common-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/aix-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#aix-def"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/android-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#apache"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/apache-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#apple_ios"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/apple-ios-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#asa"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/asa-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#catos"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/catos-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#esx"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/esx-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#freebsd"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/freebsd-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#hpux"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/hpux-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#independent"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/independent-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#ios"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/ios-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#iosxe"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/iosxe-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#junos"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/junos-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#linux"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/linux-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#macos"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/macos-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#netconf"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/netconf-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/oval-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#pixos"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/pixos-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#sharepoint"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/sharepoint-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#solaris"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/solaris-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#unix"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/unix-system-characteristics-schema.xsd"/>
      <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#windows"
                  schemaLocation="../schemas/oval-[OVAL_VERSION]/windows-system-characteristics-schema.xsd"/>
</xsd:schema>
