-- 
Copyright (C) 2013-2016 JovalCM.com.  All rights reserved.
This software is licensed under the LGPL 3.0 license available at http://www.gnu.org/licenses/lgpl.txt


  This is a TR9401 catalog file for experimental schemas that can be found in the OVAL Sandbox. It is an illustration
  of how a third-party can extend jOVAL's OVAL data model without directly modifying the scap component.

--

OVERRIDE no
PUBLIC "http://oval.mitre.org/XMLSchema/oval-common-5" "../scap/schemas/oval-[OVAL_VERSION]/oval-common-schema.xsd"
PUBLIC "http://oval.mitre.org/XMLSchema/oval-definitions-5" "../scap/schemas/oval-[OVAL_VERSION]/oval-definitions-extended-schema.xsd"
PUBLIC "http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" "../scap/schemas/oval-[OVAL_VERSION]/oval-system-characteristics-schema.xsd"
PUBLIC "http://oval.mitre.org/XMLSchema/oval-definitions-5#x-linux" "schemas/x-linux-definitions-schema.xsd"
PUBLIC "http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#x-linux" "schemas/x-linux-system-characteristics-schema.xsd"
PUBLIC "http://oval.mitre.org/XMLSchema/oval-definitions-5#cmd" "schemas/x-shellcommand-definitions-schema.xsd"
PUBLIC "http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#cmd" "schemas/x-shellcommand-system-characteristics-schema.xsd"
PUBLIC "http://oval.mitre.org/XMLSchema/oval-definitions-5#x-windows" "schemas/x-windows-definitions-schema.xsd"
PUBLIC "http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#x-windows" "schemas/x-windows-system-characteristics-schema.xsd"
PUBLIC "http://www.w3.org/2000/09/xmldsig#" "../scap/schemas/xml/xmldsig-core-schema.xsd"
